body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1001_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:166px;
  height:742px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:40px;
  width:160px;
  height:736px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:360px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1003 {
  position:absolute;
  left:49px;
  top:44px;
  width:53px;
  height:16px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1250px;
  height:36px;
}
#u1005 {
  position:absolute;
  left:176px;
  top:50px;
  width:1246px;
  height:32px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:8px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4894E0;
}
#u1007 {
  position:absolute;
  left:192px;
  top:58px;
  width:66px;
  height:16px;
  color:#4894E0;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:40px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:40px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:12px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:56px;
  top:8px;
  width:107px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:156px;
  top:14px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1015 {
  position:absolute;
  left:1357px;
  top:10px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1017 {
  position:absolute;
  left:1192px;
  top:10px;
  width:144px;
  height:16px;
  color:#F2F2F2;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1019 {
  position:absolute;
  left:1069px;
  top:11px;
  width:40px;
  height:16px;
  color:#F2F2F2;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1021 {
  position:absolute;
  left:1111px;
  top:8px;
  width:24px;
  height:24px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u1023 {
  position:absolute;
  left:1142px;
  top:11px;
  width:38px;
  height:16px;
  color:#FF9900;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u1025 {
  position:absolute;
  left:8px;
  top:72px;
  width:152px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1026 {
  position:absolute;
  left:24px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:0px;
  top:104px;
}
#u1027_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1027_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1029 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:32px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1031 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:160px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1033 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:192px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1035 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:96px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:64px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:128px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u1041 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1042 {
  position:absolute;
  left:176px;
  top:104px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1043 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1044 {
  position:absolute;
  left:176px;
  top:152px;
  width:79px;
  height:24px;
  font-size:14px;
}
#u1045 {
  position:absolute;
  left:4px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1046 {
  position:absolute;
  left:256px;
  top:152px;
  width:205px;
  height:24px;
  font-size:14px;
}
#u1047 {
  position:absolute;
  left:4px;
  top:2px;
  width:197px;
  white-space:nowrap;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1048 {
  position:absolute;
  left:495px;
  top:152px;
  width:81px;
  height:24px;
  font-size:14px;
}
#u1049 {
  position:absolute;
  left:4px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
  text-align:center;
}
#u1050 {
  position:absolute;
  left:1336px;
  top:96px;
  width:64px;
  height:20px;
  color:#169BD5;
  text-align:center;
}
#u1051 {
  position:absolute;
  left:4px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
  text-align:center;
}
#u1052 {
  position:absolute;
  left:1272px;
  top:96px;
  width:64px;
  height:20px;
  color:#169BD5;
  text-align:center;
}
#u1053 {
  position:absolute;
  left:4px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1054 {
  position:absolute;
  left:179px;
  top:200px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1055 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1056 {
  position:absolute;
  left:259px;
  top:200px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1057 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1058 {
  position:absolute;
  left:495px;
  top:200px;
  width:51px;
  height:24px;
  font-size:14px;
}
#u1059 {
  position:absolute;
  left:4px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1060 {
  position:absolute;
  left:575px;
  top:200px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1061 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1062 {
  position:absolute;
  left:808px;
  top:200px;
  width:37px;
  height:24px;
  font-size:14px;
}
#u1063 {
  position:absolute;
  left:4px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1064 {
  position:absolute;
  left:888px;
  top:200px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1065 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1066 {
  position:absolute;
  left:176px;
  top:348px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1067 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1068 {
  position:absolute;
  left:176px;
  top:396px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1069 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1070 {
  position:absolute;
  left:256px;
  top:396px;
  width:121px;
  height:24px;
  font-size:14px;
}
#u1071 {
  position:absolute;
  left:4px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1072 {
  position:absolute;
  left:176px;
  top:444px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1073 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:179px;
  top:492px;
  width:29px;
  height:16px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1076 {
  position:absolute;
  left:224px;
  top:492px;
  width:100px;
  height:16px;
}
#u1077 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1076_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1078 {
  position:absolute;
  left:324px;
  top:492px;
  width:100px;
  height:16px;
}
#u1079 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:179px;
  top:532px;
  width:29px;
  height:16px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1082 {
  position:absolute;
  left:224px;
  top:532px;
  width:100px;
  height:16px;
}
#u1083 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1082_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1084 {
  position:absolute;
  left:324px;
  top:532px;
  width:100px;
  height:16px;
}
#u1085 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1084_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  position:absolute;
  left:179px;
  top:564px;
  width:29px;
  height:16px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1088 {
  position:absolute;
  left:224px;
  top:564px;
  width:100px;
  height:16px;
}
#u1089 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1088_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1090 {
  position:absolute;
  left:324px;
  top:564px;
  width:100px;
  height:16px;
}
#u1091 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1090_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1092 {
  position:absolute;
  left:176px;
  top:588px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1093 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u1094 {
  position:absolute;
  left:176px;
  top:628px;
  width:96px;
  height:96px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u1096 {
  position:absolute;
  left:296px;
  top:628px;
  width:96px;
  height:96px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u1098 {
  position:absolute;
  left:408px;
  top:628px;
  width:96px;
  height:96px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u1100 {
  position:absolute;
  left:536px;
  top:628px;
  width:96px;
  height:96px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u1102 {
  position:absolute;
  left:663px;
  top:628px;
  width:96px;
  height:96px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1104 {
  position:absolute;
  left:176px;
  top:780px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1105 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:176px;
  top:820px;
  width:1096px;
  height:68px;
}
#u1107 {
  position:absolute;
  left:4px;
  top:4px;
  width:1088px;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1108 {
  position:absolute;
  left:176px;
  top:240px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1109 {
  position:absolute;
  left:4px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1110 {
  position:absolute;
  left:183px;
  top:272px;
  width:51px;
  height:24px;
  font-size:14px;
}
#u1111 {
  position:absolute;
  left:4px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1112 {
  position:absolute;
  left:263px;
  top:272px;
  width:75px;
  height:24px;
  font-size:14px;
}
#u1113 {
  position:absolute;
  left:4px;
  top:2px;
  width:67px;
  white-space:nowrap;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1114 {
  position:absolute;
  left:183px;
  top:296px;
  width:51px;
  height:24px;
  font-size:14px;
}
#u1115 {
  position:absolute;
  left:4px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1116 {
  position:absolute;
  left:263px;
  top:296px;
  width:75px;
  height:24px;
  font-size:14px;
}
#u1117 {
  position:absolute;
  left:4px;
  top:2px;
  width:67px;
  white-space:nowrap;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1118 {
  position:absolute;
  left:808px;
  top:152px;
  width:65px;
  height:24px;
  font-size:14px;
}
#u1119 {
  position:absolute;
  left:4px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1120 {
  position:absolute;
  left:888px;
  top:152px;
  width:107px;
  height:24px;
  font-size:14px;
}
#u1121 {
  position:absolute;
  left:4px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
