body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2031 {
  position:absolute;
  left:256px;
  top:176px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2032 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:256px;
  top:240px;
  width:29px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2035 {
  position:absolute;
  left:336px;
  top:240px;
  width:64px;
  height:16px;
}
#u2036 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2035_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2037 {
  position:absolute;
  left:496px;
  top:240px;
  width:64px;
  height:16px;
}
#u2038 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2039 {
  position:absolute;
  left:416px;
  top:240px;
  width:64px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2041 {
  position:absolute;
  left:256px;
  top:120px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2042 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2043 {
  position:absolute;
  left:560px;
  top:240px;
  width:64px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2046_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:166px;
  height:742px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:40px;
  width:160px;
  height:736px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:360px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:49px;
  top:44px;
  width:53px;
  height:16px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2050_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1250px;
  height:36px;
}
#u2050 {
  position:absolute;
  left:176px;
  top:50px;
  width:1246px;
  height:32px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:8px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4894E0;
}
#u2052 {
  position:absolute;
  left:192px;
  top:58px;
  width:66px;
  height:16px;
  color:#4894E0;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:40px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:40px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:12px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2056 {
  position:absolute;
  left:56px;
  top:8px;
  width:107px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2058 {
  position:absolute;
  left:156px;
  top:14px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2060 {
  position:absolute;
  left:1357px;
  top:10px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2062 {
  position:absolute;
  left:1192px;
  top:10px;
  width:144px;
  height:16px;
  color:#F2F2F2;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2064 {
  position:absolute;
  left:1069px;
  top:11px;
  width:40px;
  height:16px;
  color:#F2F2F2;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2066 {
  position:absolute;
  left:1111px;
  top:8px;
  width:24px;
  height:24px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2068 {
  position:absolute;
  left:1142px;
  top:11px;
  width:38px;
  height:16px;
  color:#FF9900;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u2070 {
  position:absolute;
  left:8px;
  top:72px;
  width:152px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2071 {
  position:absolute;
  left:24px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:104px;
}
#u2072_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2072_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2074 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:32px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2076 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:160px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2078 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:192px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:96px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:64px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:128px;
  width:160px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:40px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2087 {
  position:absolute;
  left:328px;
  top:120px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2088 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2089 {
  position:absolute;
  left:328px;
  top:176px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2090 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2091 {
  position:absolute;
  left:256px;
  top:288px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2092 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2093 {
  position:absolute;
  left:328px;
  top:288px;
  width:64px;
  height:24px;
  font-size:14px;
}
#u2094 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(51, 51, 51, 0.8);
}
#u2095 {
  position:absolute;
  left:1358px;
  top:96px;
  width:64px;
  height:24px;
  font-size:12px;
  color:rgba(51, 51, 51, 0.8);
}
#u2096 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(51, 51, 51, 0.8);
}
#u2097 {
  position:absolute;
  left:1272px;
  top:96px;
  width:64px;
  height:24px;
  font-size:12px;
  color:rgba(51, 51, 51, 0.8);
}
#u2098 {
  position:absolute;
  left:4px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2099 {
  position:absolute;
  left:328px;
  top:336px;
  width:200px;
  height:24px;
  font-size:14px;
}
#u2100 {
  position:absolute;
  left:4px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
